.movie__inner {
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 23%;
            position: relative;

            em {
                display: block;
                height: 80px;
                margin-bottom: 30px;
                font-family: var(--font-sub2);
            }
            .title {
                padding: 5px 0;
                display: inline-block;
            }
            .star {
                background: #fff;
                color: #000;
                position: absolute;
                left: 20px;
                top: 20px;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                text-align: center;
                line-height: 30px;
                font-weight: 800;
            }
        }
    }

    a {
        color: var(--white);
    }
}

.movie__search {
    margin-bottom: 100px;

    .container {
        position: relative;
    }

    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
    }
    input {
        background: #000;
        border: 1px solid var(--white);
        border-radius: 50px;
        color: #fff;
        width: 100%;
        padding: 14px 30px;
        font-family: var(--font-sub3);
    }
    button {
        position: absolute;
        right: 10px;
        top: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-family: var(--font-sub3);
        cursor: pointer;
        z-index: 1000;
    }
}

.movie__list {
    height: 470px;
    overflow-y: hidden;
    margin-bottom: 100px;

    h2 {
        color: var(--white);
        font-family: var(--font-sub2);
        margin-bottom: 70px;
    }

    .list__inner {
        ul {
            display: flex;
            justify-content: space-between;
            flex-wrap: nowrap;

            li {
                display: inline-block;
                position: relative;
                margin-left: 30px;

                img {
                    width: 210px;
                    height: 300px;
                }
                em {
                    display: block;
                    height: 80px;
                    margin-bottom: 30px;
                    font-family: var(--font-sub2);
                }
                .title {
                    padding: 5px 0;
                    display: inline-block;
                }
                .star {
                    background: #fff;
                    color: #000;
                    position: absolute;
                    right: 10px;
                    top: 10px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 30px;
                    font-weight: 800;
                }
                .rank {
                    color: yellow;
                    position: absolute;
                    font-size: 60px;
                    left: -20px;
                    top: -50px;
                    font-family: var(--font-main);
                    font-weight: 800;
                }
            }
            li:first-child {
                margin-left: 10px;
            }
        }

        a {
            color: var(--white);
        }
    }
}
