.movie__inner {
    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            width: 23%;
            position: relative;
            transition: all 0.3s ease-in-out;

            &:hover {
                transform: scale(1.05);
            }
            em {
                display: block;
                height: 80px;
                margin-bottom: 30px;
                font-family: var(--font-sub2);
            }
            .title {
                padding: 5px 0;
                display: inline-block;
            }
            .star {
                background: #fff;
                color: #000;
                position: absolute;
                left: 10px;
                top: 10px;
                width: 30px;
                height: 30px;
                border-radius: 100px;
                text-align: center;
                line-height: 30px;
                font-weight: 800;
            }
        }
    }

    a {
        color: var(--white);
    }
}

.movie__search {
    margin-bottom: 100px;

    .container {
        position: relative;
    }

    h2 {
        color: var(--white);
        font-size: 40px;
        text-indent: -9999px;
        height: 0;
    }
    input {
        background: #000;
        border: 1px solid var(--white);
        border-radius: 50px;
        color: #fff;
        width: 100%;
        padding: 14px 30px;
        font-family: var(--font-sub3);
    }
    button {
        position: absolute;
        right: 10px;
        top: 6px;
        width: 40px;
        height: 40px;
        border-radius: 50%;
        border: 0;
        font-family: var(--font-sub3);
        cursor: pointer;
        z-index: 1000;
    }
}

.movie__list {
    margin-bottom: 50px;

    h2 {
        color: var(--white);
        font-family: var(--font-sub2);
        margin-bottom: 30px;
    }

    .list__inner {
        .swiper {
            width: 100%;
            padding-top: 50px;
        }

        .swiper-slide {
            background-position: center;
            background-size: cover;
            width: 24%;

            li {
                position: relative;
                padding: 10px 0;
                transition: all 0.3s ease-in-out;

                &:hover {
                    transform: scale(1.05);
                }

                .swiper-slide img {
                    display: block;
                    width: 100%;
                }
                em {
                    display: block;
                    margin-bottom: 20px;
                    font-family: var(--font-sub2);
                }
                .title {
                    padding: 5px 0;
                    display: inline-block;
                }
                .star {
                    background: #fff;
                    color: #000;
                    position: absolute;
                    right: 10px;
                    top: 20px;
                    width: 30px;
                    height: 30px;
                    border-radius: 100px;
                    text-align: center;
                    line-height: 30px;
                    font-weight: 800;
                }
                .rank {
                    background: repeating-linear-gradient(
                        135deg,
                        rgb(255, 221, 155) 0,
                        rgb(254, 215, 146) 20px,
                        rgb(255, 225, 172) 40px,
                        rgb(255, 255, 255) 70px,
                        rgb(250, 198, 107) 125px,
                        rgb(246, 194, 107) 160px,
                        rgb(231, 177, 85) 175px,
                        rgb(244, 193, 107) 185px,
                        rgb(241, 191, 107) 220px,
                        rgb(243, 190, 102) 235px,
                        rgb(233, 177, 83) 250px,
                        rgb(245, 190, 97) 280px,
                        rgb(249, 188, 86) 305px,
                        rgb(255, 251, 245) 385px,
                        rgb(252, 195, 98) 415px,
                        rgb(252, 195, 121) 450px,
                        rgb(255, 221, 155) 500px
                    );
                    background-clip: text;
                    -webkit-background-clip: text;
                    background-repeat: repeat;
                    background-attachment: fixed;
                    backface-visibility: none;
                    color: rgb(255, 221, 155);
                    -webkit-text-fill-color: transparent;
                    filter: drop-shadow(0 3px 1px #000);
                    position: absolute;
                    font-size: 40px;
                    left: 10px;
                    top: 5px;
                    font-family: var(--font-main);
                    font-weight: 800;
                }
            }
        }

        a {
            color: var(--white);
        }
    }
}
